body {
  font-family: "helvetica neue", helvetica;
  font-size: 100%;
}

header {
  background-color: #C65F5F;
  margin: -0.5em;
  padding: 20px;
}

.fotologo {
  width: 15%;
}

nav ul li a {
  color: white;
  display: inline;
  text-decoration: none;
  font-size: 1.3em;
  margin-right: 2em;
}

  header ul:first-child {
        display: flex;
        list-style: none;
        position: absolute;
        top: 0;
        right: 3vw;
      }

nav ul li .about {
  border-bottom: 3px solid white;
  padding-bottom: 10px;
}

.mefoto {
  max-width: 100%;
}

.iets {
  padding: 50px;
}

footer {
  background-color: #F6E8EA;
  margin: -0.5em;
  padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.naam {
  text-align: right;
}

.info p {
  margin-top: -17px;
}

.info h4 {
  margin-top: -10px;
}

.linkport  {
font-family: helvetica;
font-size: 0.9em;
width: 150px;
background-color: black;
padding: 10px;
padding-right: 20px;
padding-left: 20px;
color: white;
border: 0;
text-decoration: none;
}



@media (min-width:800px) {
  .iets {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5em;
    column-gap: 100px;
  }

  .titel {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .titelinfo {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .me {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 50px;
  }
}


@media (max-width:800px) {

.me {
  margin-top: 50px;
}


}
