body {
  font-family: "helvetica neue", helvetica;
  font-size: 100%;
}

header {
  background-color: #C65F5F;
  margin: -0.5em;
  padding: 20px;
}

.fotologo {
  width: 15%;
}

nav ul li a {
  color: white;
  display: inline;
  text-decoration: none;
  font-size: 1.3em;
  margin-right: 2em;
}

  header ul:first-child {
        display: flex;
        list-style: none;
        position: absolute;
        top: 0;
        right: 3vw;
      }

nav ul li .home {
  border-bottom: 3px solid white;
  padding-bottom: 10px;
}

.ad {
  width: 90%;
}


footer {
  background-color: #F6E8EA;
  margin: -0.5em;
  padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.naam {
  text-align: right;
}

.linkproto {
  font-family: helvetica;
  font-size: 0.9em;
  width: 150px;
  background-color: black;
  padding: 10px;
  padding-right: 30px;
  padding-left: 30px;
  color: white;
  border: 0;
  text-decoration: none;
}

.opbouwmockup{
  max-width: 100%;
}




@media (min-width:800px) {

  /*grid1 lay-out begin desktop*/
  .grid1 {
    display: grid;
    grid-template-columns: 10fr 2fr 12fr;
    padding: 5em;
    column-gap: 70px;
  }

  .titel {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .mockup {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-bottom: 100px;
  }

  .doelgroep {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-bottom: 100px;
    padding: 20px;
  }

  .logo-making {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-bottom: 100px;
    padding: 20px;
  }

  .logo2foto {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-bottom: 100px;
    width: 100%;
  }

  .opbouwfoto {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    margin-bottom: 100px;
  }

  .opbouw {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    margin-bottom: 100px;
    padding: 20px;
  }

  /*grid1 lay-out einde*/

  /*grid2 lay-out begin desktop*/
  .grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5em;
    column-gap: 70px;
    margin-top: -100px
  }

.filters {
  margin-bottom:50px;
  padding: 20px;
}

  .filterfoto {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: auto;
    margin-bottom:50px;
  }

  .advertentie {
    padding: 20px;
  }

  .adenkorting {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .advertentiefoto {
    margin-top: -32px;
  }

.korting {
  max-width: 100%
}

.kleur {
  padding: 20px;
}

.contrastkleur {
  max-width: 100%;
}

  /*grid2 lay-out einde*/

  /* Prototype proberen lay-out */
.allprototype {
  display: 1fr;
}

  .protoprobeer {
    padding: 2em;
  }

  .prototypevolledig {
    width: 97%;
    padding: 20px;
  }

}
/*einde van desktopversion*/




.mockupfoto {
  width: 100%
}

@media (max-width:800px) {

main {
  padding: 2em;
}

.fotologo {
  width: 20%;
}

  nav ul li a {
       color: white;
       display: inline;
       margin-top: 50px;
       margin-right: 2em;
       text-decoration: none;
       font-size: 1em;
}

.logo2foto {
  max-width: 100%;
}

.mockupfoto {
  width: 100%;
}

.prototypevolledig {
  width: 100%;
  padding: 20px;
}

.contrastkleur {
  max-width: 100%;
}

.korting {
  max-width: 100%;
}

.filterfoto {
  max-width: 100%
}
}
